<ul id="toolbar">
  <li class='common'>
    <ul>
      <li>
        <a href="#New"><span>New</span></a>
      </li>
      <li>
        <a href="#Open"><span>Open</span></a>
      </li>
      <li>
        <a href="#Save"><span>Save</span></a>
      </li>
    </ul>
  </li>
  <li class='more'>
    <ul>
      <li>
        <a href="#Pipeline"><span>Pipeline</span></a>
      </li>
      <li>
        <a href="#History"><span>History</span></a>
      </li>
      <li>
        <a href="#Search"><span>Search</span></a>
      </li>
      <li>
        <a href="#Explore"><span>Explore</span></a>
      </li>
      <li>
        <a href="#Provenance"><span>Provenance</span></a>
      </li>
      <li>
        <a href="#Mashup"><span>Mashup</span></a>
      </li>
      <li>
        <a href="#Execute"><span>Execute</span></a>
      </li>
    </ul>
  </li>
</ul>
