<div id="signup-form" title="User Sign Up">
   <form>
    <fieldset>
      <div>
        <label for="d_username">Username</label>
        <input type="text" name="username" id="d_username" required class="text ui-widget-content ui-corner-all">
      </div>
      <div>
        <label for="d_nickname">Nickname</label>
        <input type="text" name="nickname" id="d_nickname" class="text ui-widget-content ui-corner-all">
      </div>
      <div>
        <label for="d_affiliation">Affiliation</label>
        <input type="text" name="affiliation" id="d_affiliation" required class="text ui-widget-content ui-corner-all">
      </div>
      <div>
        <label for="d_note">Note</label>
        <textarea rows="3" cols="3" name="note" id="d_note" placeholder="Enter note for this user"></textarea>
      </div>

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
