<ul id="toolbar">
  <li class='common'>
    <ul>
      <li class='new' data-event='new'>
        <span>New</span>
      </li>
      <li class='open' data-event='open'>
        <span>Open</span>
      </li>
      <li class='save' data-event='save'>
        <span>Save</span>
      </li>
      <li class='pipeline' data-event='login'>
        <span>Login</span>
      </li>
    </ul>
  </li>
  <li class='more'>
    <ul>
      <li class='pipeline' data-event='pipeline'>
        <span>Pipeline</span>
      </li>
      <li class='history' data-event='history'>
        <span>History</span>
      </li>
      <li class='search' data-event='search'>
        <span>Search</span>
      </li>
      <li class='explore' data-event='explore'>
        <span>Explore</span>
      </li>
      <li class='provenance' data-event='provenance'>
        <span>Provenance</span>
      </li>
      <li class='mashup' data-event='mashup'>
        <span>Mashup</span>
      </li>
      <li class='execute' data-event='execute'>
        <span>Execute</span>
      </li>
    </ul>
  </li>
</ul>
