<ul id="toolbar">
  <li class='common'>
    <ul>
      <li class='new'>
        <span>New</span>
      </li>
      <li class='open'>
        <span>Open</span>
      </li>
      <li class='save'>
        <span>Save</span>
      </li>
    </ul>
  </li>
  <li class='more'>
    <ul>
      <li class='pipeline'>
        <span>Pipeline</span>
      </li>
      <li class='history'>
        <span>History</span>
      </li>
      <li class='search'>
        <span>Search</span>
      </li>
      <li class='explore'>
        <span>Explore</span>
      </li>
      <li class='provenance'>
        <span>Provenance</span>
      </li>
      <li class='mashup'>
        <span>Mashup</span>
      </li>
      <li class='execute'>
        <span>Execute</span>
      </li>
    </ul>
  </li>
</ul>
