doctype html
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(content='text/html;charset=UTF-8', http-equiv='content-type')
		title CMU: Scientific Work-flow
		script(src='scripts/libs/require/require.js')
		script(src='scripts/require-config.js')
		script.
			require.config({baseUrl : 'scripts'});
			require(['boot']);
		script
		link(href='stylesheets/screen.css', media='all', rel='stylesheet', type='text/css')
		link(href='favicon2.ico', rel='shortcut icon', type='image/x-icon')
	body.hidden-timeline
		div(id="dataId", data-jsonString= '{"uid":12,"workflow":{"abstract":false,"context":{"author":"Kevin","affiliation":"","keywords":"","purpose":"","description":"","constraints":[]},"user":{"username":"","nickname":"","affiliation":"","note":"","constraints":[]}},"nodes":[{"nid":4,"name":"Integer","type":"Integer","anim":false,"x":100,"y":100,"fields":{"in":[{"name":"in","type":"Float","custom":false,"val":0}],"out":[{"name":"out","type":"Float","custom":false},{"name":"out0","type":"String","custom":false,"val":0}]}},{"nid":8,"name":"Integer","type":"Integer","anim":false,"x":0,"y":100,"fields":{"in":[{"name":"in","type":"Float","custom":false}],"out":[{"name":"out","type":"Float","custom":false},{"name":"out0","type":"String","custom":false,"val":0}]}}],"connections":[{"id":12,"from_node":4,"from":"out","to_node":8,"to":"in"}],"groups":[]}', data-workflowId='1')
		header
			#logo
				h1 CMU Online VisTrails
				h2 An online workflow management system
		footer#footer
			CoOnVisTrials | CMU | 2015


