#timeline
  ul
    height: 96%

  .more
    float: right

  li
    display: inline-block
    height: 100%
    margin: 0px 10px

    a
      height: 100%
      display: inline-block
      width: 35px
      text-align: center
      // border: 1px solid black

      span
        position: absolute
        bottom: 0
        transform: translateX(-50%)


    a[href='#New']
      background: url(../assets/images/new.png) no-repeat center top

    a[href='#Open']
      background: url(../assets/images/open.png) no-repeat center top

    a[href='#Save']
      background: url(../assets/images/save.png) no-repeat center top

    a[href='#Pipeline']
      background: url(../assets/images/pipeline.png) no-repeat center top

    a[href='#History']
      background: url(../assets/images/history.png) no-repeat center top

    a[href='#Search']
      background: url(../assets/images/search.png) no-repeat center top

    a[href='#Explore']
      background: url(../assets/images/explore.png) no-repeat center top

    a[href='#Provenance']
      background: url(../assets/images/provenance.png) no-repeat center top

    a[href='#Mashup']
      background: url(../assets/images/mashup.png) no-repeat center top

    a[href='#Execute']
      background: url(../assets/images/execute.png) no-repeat center top


