#timeline
  ul
    height: 96%

  .more
    float: right

  li
    display: inline-block
    height: 100%

    li
      margin: 0px 10px
      width: 35px
      text-align: center

      span
        position: absolute
        bottom: 0
        transform: translateX(-50%)

    li:hover {
      cursor: pointer
    }

    .new
      background: url(../assets/images/new.png) no-repeat center top

    .open
      background: url(../assets/images/open.png) no-repeat center top

    .save
      background: url(../assets/images/save.png) no-repeat center top

    .pipeline
      background: url(../assets/images/pipeline.png) no-repeat center top

    .history
      background: url(../assets/images/history.png) no-repeat center top

    .search
      background: url(../assets/images/search.png) no-repeat center top

    .explore
      background: url(../assets/images/explore.png) no-repeat center top

    .provenance
      background: url(../assets/images/provenance.png) no-repeat center top

    .mashup
      background: url(../assets/images/mashup.png) no-repeat center top

    .execute
      background: url(../assets/images/execute.png) no-repeat center top


